# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

env:
  TOKEN: ${{ secrets.TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }} 

on:
  push:
    branches: [ main ]
  schedule:
     - cron: 0 */4 * * *
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - run: yarn --frozen-lockfile
    - run: yarn start
      
    - uses: dev-drprasad/delete-tag-and-release@v0.1.2
      with:
        delete_release: true
        tag_name: Latest
        
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: Latest
        release_name: Latest
        body: Hourly analytics computation
    
    - name: Upload Top 20
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./20.json
        asset_name: 20.json
        asset_content_type: application/json
        
    - name: Upload All Results
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./results.json
        asset_name: results.json
        asset_content_type: application/json

